.mainDiv {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    padding: 2%;
    border-radius: 10px;
    border: 5px solid #ffc107;
}

.tempatureDiv {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    border: 3px solid black;
    padding: 2%;
    border-radius: 500%;
    text-align: center;
    width: 50%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.secodanryTemps {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.secodanryTemps>h2 {
    font-size: 20px;
}

.tempaterureHeader {
    color: black;
}

.hrColor {
    height: 5px;
    background-color: black;
    border: none;
}

.lineDiv {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.feelsLike {
    display: flex;
    justify-content: center;
    height: auto;
}

.otherInfosDiv {
    display: flex;
    gap: 20px;
}

.tileStyleContainer {
    background-color: #f0ffff;
    padding: 16px;
    border-radius: 12px;
    border: 3px solid #ffc107;
    box-shadow: 0 4px 6px #80808040;
    color: #333;
    width: 50%;
}

.tileStyleContainer2 {
    background-color: #f0ffff;
    padding: 16px;
    border-radius: 12px;
    border: 3px solid #ffc107;
    box-shadow: 0 4px 6px #80808040;
    color: #333;
    width: 100%;
    height: 150%;
}

.tileStyleContainer>h2,
.tileStyleContainer2>h2 {
    text-align: center;
    font-size: 25px;
}

.forcastHeading {
    display: flex;
    justify-content: center;
    font-size: 70px;
}

.forcastDiv {
    height: auto 300px;
    text-align: center;
    justify-content: center;
    border: 3px solid #ffc107;
    color: #333;
    background-color: #f0ffff;
    border-radius: 25px;
}

h2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    color: #333;
    margin: 0;
}

@media (max-width: 600px) {
    .otherInfosDiv {
        flex-direction: column;
        gap: 10px;
    }

    .tileStyleContainer {
        width: 100%;
        font-size: 15px;
    }

    .secodanryTemps {
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }

    .lineDiv {
        width: 100%;
        margin: 10px 0;
    }

    .mainDiv {
        width: 130%;
    }

    .forcastHeading {
        font-size: 50px;
    }
}