.feature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pageTitle {
    font-size: 55px;
    padding: 25px;
}

hr {
    width: 90%;
    border: 5px solid #000;
    margin-bottom: 50px;
}