.body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    gap: 0px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: scroll;
    height: 100%;
}

.main-div {
    display: "flex";
    flex-direction: "column"; 
    gap: 0;
}

.main-div2 {
    margin: 0;
    padding: 25px;
    border-radius: 25px;
    margin-top: 2%;
    margin-left: 23%;
    width: fit-content;
    box-sizing: border-box;
}
